@use '../env' as *;

.toaster {
	position: fixed;
	top: 1rem;
	right: 1rem;
	display: grid;
	gap: 0.5rem;
}

.toaster__toast {
	padding: 1rem 1.5rem;
	color: $color-green;
	background-color: $color-lightgreen;
	border: 1px solid;
	border-radius: 0.25rem;
	box-shadow: $shadow-small;
	animation: fade-out 5s ease-in forwards;

	&--error {
		color: $color-red;
		background-color: $color-lightred;
	}
}
